{% extends "main.html" %}
{% block content %}

<div class="home-container container">
    <div class="card">
        {% include 'base/topics_component.html' %}
    </div>
    
    <div>
        <div class="card">
            <h5><i class="fas fa-door-open icon"></i> {{ room_count }} Salas disponibles</h5>
            <a href="{% url 'create-room' %}" class="btn-create-room">
                <i class="fas fa-plus icon"></i> Crear sala
            </a>
        </div>
        {% include 'base/feed_component.html' %}
    </div>

    <div class="card">
        {% include 'base/activity_component.html' %}
    </div>
</div>

{% endblock content %}
